.form{

   display: flex;
    margin-top: 36px;
    gap: 8px;
}

input{
    border: 1px solid #808080;
        border-radius: 4px;
        width: 272px;
        height: 40px;
        box-sizing: border-box;
        text-indent: 12px;
}



button{
    border: none;
    border-radius: 8px;
        padding: 8px 16px;
        width: 91px;
        height: 40px;
        background-color: #4e75ff;
        font-family: "Montserrat", sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #fff;
}
button:hover {
    background-color: #6c8cff;
}

.gallery {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    column-gap: 24px;
    justify-content: center;
    padding: 0;
    list-style: none;
}


.gallery li {
border: 1px solid #808080;
    width: 360px;
    height: 200px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    
}


.gallery img {
    width: 100%;
    height: 152px;
    display: block;
  
}


.card-info {
    height: 48px;
  padding-top: 4px;
  padding-bottom: 4px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
}

.likes{
    width: 34px;
    margin-left: 20px;
    margin-right: 28px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.views{
    margin-right: 27px;
    width: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.down{
    width: 74px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
}
.favor{
    width: 72px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 32px;
    justify-content: center;
    align-items: center;
}

.gallery h3{
    font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 12px;
        line-height: 1.33333;
        letter-spacing: 0.04em;
        color: #2e2f42;
}
.gallery p{
    font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        color: #2e2f42;
}


.gallery__item {
    display: block;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin: 20px auto;
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}